<script>
  import "../app.css";

  export const prerender = true;
</script>

<main class="relative w-full max-w-3xl mx-auto flex flex-col">
  <slot />
</main>

<style lang="postcss">
  /* Webfont: SwedenSans-Bold */
@font-face {
  font-family: 'SwedenSans';
  src: url('../fonts/SwedenSansBold.woff2') format('woff2'),
       url('../fonts/SwedenSansBold.otf') format('opentype'),
       url('../fonts/SwedenSansBold.ttf') format('truetype');
           font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
/* Webfont: SwedenSans-Regular */
@font-face {
  font-family: 'SwedenSans';
  src: url('../fonts/SwedenSansRegular.woff2') format('woff2'),
       url('../fonts/SwedenSansRegular.otf') format('opentype'),
       url('../fonts/SwedenSansRegular.ttf') format('truetype');
           font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

#app {
  @apply flex overflow-x-hidden;

  font-family: "SwedenSans", Georgia;
}
</style>
