<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import infos from "$data/infos.json";

  $: lang = $page.params.lang ? $page.params.lang : "PT";
  $: altLang = lang === "EN" ? "PT" : "EN";

  let openInfo = -1;
  let langSelector: HTMLSelectElement;

  const open = (id: number) => {
    openInfo = openInfo === id ? -1 : id;
  };
</script>

<header class="flex flex-col">
  <a
    class="absolute top-4 left-[8%] bg-transparent text-stone-500 hover:underline"
    href="{base}/{altLang}">
    {lang === "EN" ? "Português" : "English"}
  </a>
  <img
    class="w-2/3"
    src="{base}/cvr.png"
    alt="Logo CVR - Brazilian Virtual Reality Catalog"
  />
  <h1 class="ml-[8%] transform -translate-y-4 text-base">
    {lang === "EN" ? "Brazilian VR Catalog" : "Catálogo Virtual"}
  </h1>
  <div
    class="top-0 right-0 transform translate-x-[40%] -translate-y-[45%] w-full circles"
  >
    <img
      class="w-1/6 transform -translate-x-[15%] translate-y-1/3"
      src="{base}/setima.png"
      alt="Setima Cinema"
    />
  </div>
</header>

<section class="flex flex-col">
  {#each infos as info, key}
    <article>
      <div class="w-full circles" />
      <div class="illustration">
        <img
          class="absolute h-full object-cover opacity-75"
          src="{base}/img/{info.IMG}.jpg"
          alt="Imagem do filme {info[lang].NOME}"
        />
      </div>
      <div class="text">
        <h1>{info[lang].NOME}</h1>
        <h2 class="text-xs text-stone-500">
          <p>
            {info[lang].GÊNERO} | {info.MINUTAGEM} | {info.ANO} | {info[lang].LOCAL} | {info[lang].IDADE}
          </p>
          <p>{info.DIRETOR}</p>
          <p>Looking for: {info[lang].LOOKING}</p>
        </h2>
        <div
          class="animate {openInfo === key
            ? 'max-h-[400vh]'
            : 'max-h-0'} sm:max-h-[400vh] pt-4 overflow-hidden"
        >
          <p>{info[lang].SINOPSE}</p>
        </div>
        <h2>
          <button
            class="sm:hidden bg-[#F1630C] text-[#E8C3AC] text-xs px-2 mt-2 hover:bg-orange-700"
            on:click={() => open(key)}
          >
            {openInfo === key
              ? lang === "EN"
                ? "Close"
                : "Fechar"
              : lang === "EN"
              ? "More info"
              : "Saiba mais"}
          </button>
        </h2>
      </div>
    </article>
  {/each}
</section>
<footer class="relative mt-24 mb-6 mx-6">
  <div
    class="top-1/2 right-0 transform translate-x-[50%] -translate-y-[50%] w-full circles"
  />
  <h1>{lang === "EN" ? "About us" : "Sobre"}</h1>
  <div class="mb-24 text-sm">
    {#if lang === "EN"}
    <p class="mb-4">
      Sétima Cinema é uma empresa brasileira que organiza eventos internacionais
      e projetos em cinema, interatividade e novas tecnologias, com o
      objetivo de ampliar parcerias para coproduções em realidade virtual.
    </p>
    <p class="mb-4">
      Nosso objetivo é promover parcerias internacionais para projetos, residências artísticas,
      ateliês e coproduções em realidade virtual e outros meios interativos.
      Realizamos pesquisas e licenciamento de obras artísticas digitais, 2D
      e conteúdo 360 (filmes), para convite e indicação de
      curadoria/programação de eventos realizados no Brasil, América Latina e
      mundialmente. Queremos promover projetos internacionais no Brasil - bem como
      Talentos brasileiros e latino-americanos em outros países e buscar 
      financiamento e parcerias internacionais para novos projetos.
    </p>
    {:else}

    {/if}
  </div>
  <h1>{lang === "EN" ? "Contact us" : "Contato"}</h1>
  <h2 class="mb-2">
    Ana Arruda <span class="text-stone-500 text-xs">CEO</span>
  </h2>
  <p class="text-stone-500 underline flex">
    <img src="{base}/email.svg" alt="email icon" class="mr-3" /><a
      href="mailto:ana@setimacinema.com.br">ana@setimacinema.com.br</a
    >
  </p>
  <p class="text-stone-500 underline flex">
    <img src="{base}/whatsapp.svg" alt="whatsapp icon" class="mr-3" /><a
      href="https://wa.me/5561999670579">+55 61 9 9967-0579</a
    >
  </p>
  <p class="text-stone-500 flex">
    <img src="{base}/place.svg" alt="place icon" class="mr-3" />{lang === "EN"
      ? "Brazil"
      : "Brasil"}
  </p>
  <p class="mt-2 flex items-center justify-between">
    <a
      class="w-1/2"
      target="_blank"
      href="http://www.setimacinema.com.br/site/englishportfolio/"
    >
      <img src="{base}/setima.png" alt="Setima Cinema" />
    </a>
    <a class="w-1/3" target="_blank" href="https://www.graofilmes.com.br">
      <img src="{base}/grao.svg" alt="Setima Cinema" />
    </a>
  </p>
</footer>

<style lang="postcss">
  article {
    @apply relative mx-6 mt-24;
  }

  article h1,
  article h2 {
    @apply text-right;
  }

  article .circles {
    @apply top-0 left-0 transform -translate-x-[50%] -translate-y-[35%];
  }

  .illustration {
    @apply absolute w-64 h-64 rounded-full overflow-hidden -translate-x-1/4 z-[-1] opacity-50;
  }

  .text {
    @apply ml-12 mt-24 flex-grow flex flex-col;
  }

  article:nth-of-type(2n) h1,
  article:nth-of-type(2n) h2 {
    @apply text-left;
  }

  article:nth-of-type(2n) .circles {
    @apply right-0 translate-x-[50%];
  }

  article:nth-of-type(2n) .illustration {
    @apply right-0 translate-x-1/4;
  }

  article:nth-of-type(2n) .text {
    @apply mr-12 ml-auto;
  }

  .animate {
    transition: max-height 1s ease-in-out;
  }
</style>
