@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-[#E8C3AC]; }

h1,
h2 {
  @apply font-bold uppercase text-[#F1630C];
}

h1 {
  @apply text-xl mb-4;
}

.orange {
  @apply text-[#F1630C];
}

.circles,
.circles:after,
.circles:before  {
  @apply absolute flex items-center justify-center rounded-full aspect-square border-2 border-[#F1630C] border-opacity-30 z-[-1];
}
.circles:after,
.circles:before {
  content: '';
}
.circles:before { @apply w-[80%]; }
.circles:after { @apply w-[57.5%]; }
